@model UniversityInformationSystem.Models.FacultyModel

<div class="form-group">
    @Html.Label("Fakülte Adı")
    @Html.TextBoxFor(x => x.FakulteAd, new { @class = "form-control" })
    <br />
</div>

<div class="form-group">
    <button class="btn btn-info">Kaydet</button>
</div>
