@model List<UniversityInformationSystem.Models.FacultyModel>

<br />
<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-left:1000px;">
    <a href="@Url.Action("Index", "Home")" class="btn btn-info">Ekle</a>
</div>
@{
    ViewBag.Title = "Create";
}
@foreach (var item in Model)
{
    <h2>@item.FakulteAd</h2>
}
<h2>Create</h2>

