@model UniversityInformationSystem.Models.DepartmentModel
@{
    ViewBag.Title = "Create";
}

<h1>Yeni Bölüm Ekle</h1>
<br />
@using (Html.BeginForm("Create", "Department", FormMethod.Post))
{
    @Html.Partial("_CreateOrEdit")
}
