@model List<UniversityInformationSystem.Models.StudentModel>
@{
    ViewBag.Title = "Create";
}

<h1>Öğrenci Sorgulama Ekranı</h1>
<br />
@using (Html.BeginForm("Index", "Student", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Öğrenci Numarası")
        @Html.TextBoxFor(x => x.OgrenciID)
        <br />
        <button class="btn btn-info">Öğrenciyi Bul</button>
    </div>
}