@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Üniversite Sistemi</h1>
    <p class="lead">Hoşgeldiniz.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Faculty")" class="btn btn-info">Fakülte İşlemleri</a>
    </div>
</div>

<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Department")" class="btn btn-info">Bölüm İşlemleri</a>
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Lesson")" class="btn btn-info">Ders İşlemleri</a>
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a class="btn btn-info">Öğrenci İşlemleri</a>
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Student")" class="btn btn-info">Öğrenci Sorgula</a>
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
        <a class="btn btn-info">Öğrenci Sorgula(Web Servisi ile)</a>
    </div>
</div>

